<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
            'text': 'oklch(92.64% 0.019 17.49)',
            'background': 'oklch(12.53% 0.044 26.42)',
            'primary': 'oklch(65.44% 0.139 21.60)',
            'secondary': 'oklch(42.14% 0.157 27.34)',
            'accent': 'oklch(49.14% 0.202 29.23)',
            },
          }
        }
      }
    </script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- <script src="/dist/htmx.min.js"></script> -->
    <!-- <link href="/dist/app.css" rel="stylesheet" /> -->