<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"
    crossorigin="anonymous"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
            'text': 'oklch(94.12% 0.022 14.07)',
            'background': 'oklch(12.53% 0.044 26.42)',
            'primary': 'oklch(73.22% 0.115 21.56)',
            'secondary': 'oklch(49.73% 0.111 51.23)',
            'accent': 'oklch(71.24% 0.127 60.65)',
            },
          }
        }
      }
    </script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- <script src="/dist/htmx.min.js"></script> -->
    <!-- <link href="/dist/app.css" rel="stylesheet" /> -->